

.container
  width:1390px
  margin:0 auto;

.right
  float right

.left
  float left
.bold
  font-weight: bold

.clearfix
	display: inline-block
	&:after
		display: block
		content: "."
		height: 0
		line-height: 0
		clear: both
		visibility: hidden


.orange
  color: #ef8200!important

.green
  color #19C880!important

.red
  color: red!important

a
  cursor pointer
.mengceng
  width: 100%
  height: 100%
  background-color: rgba(0,0,0,0.2)
  position fixed
  top 0
  left 0
